In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
df = pd.read_csv('Covid_calls for service.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43782 entries, 0 to 43781
Data columns (total 7 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   District                          43782 non-null  object
 1   Alert Level                       43782 non-null  int64
 2   Calls for Service and Prevention  43782 non-null  object
 3   Crime and NonCrime Demand         43782 non-null  object
 4   Event Category                    43782 non-null  object
 5   Event Type                        43782 non-null  object
 6   No                                43782 non-null  int64
dtypes: int64(2), object(5)
memory usage: 2.3+ MB

,District,Alert Level,Calls for Service and Prevention,Crime and NonCrime Demand,Event Category,Event Type,No
0,Auckland City,2,Demand,Crime,Administrative,"Miscellaneous Offences, Nec",13
1,Auckland City,2,Demand,Crime,Administrative,Resist or Hinder Police Officer or Justice Off...,9
2,Auckland City,2,Demand,Crime,Administrative,"Miscellaneous Offences, Nec",1
3,Auckland City,2,Demand,Crime,Administrative,"Miscellaneous Offences, Nec",3
4,Auckland City,2,Demand,Crime,Administrative,"Offences Against Government Operations, Nec",3

In [14]:
df1 = pd.read_csv('victimisation_time and place_original.csv', encoding='latin-1')
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699705 entries, 0 to 699704
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ANZSOC Division         699705 non-null  object
 1   Year Month              699705 non-null  object
 2    Month Year             699705 non-null  object
 3   ANZSOC Group            699705 non-null  object
 4   ANZSOC Subdivision      699705 non-null  object
 5   Area Unit               699705 non-null  object
 6   Location Type           699705 non-null  object
 7   Locn Type Division      699705 non-null  object
 8   Meshblock               699705 non-null  int64
 9   Occurrence Day Of Week  699705 non-null  object
 10  Occurrence Hour Of Day  699703 non-null  float64
 11  Table 1                 699705 non-null  object
 12  Territorial Authority   699705 non-null  object
 13  Weapon                  699705 non-null  object
 14  Year Month (copy 2)     699705 non-null  object
 15  Number of Records       699705 non-null  int64
 16  Victimisations          699705 non-null  int64
dtypes: float64(1), int64(3), object(13)
memory usage: 90.8+ MB

,ANZSOC Division,Year Month,Month Year,ANZSOC Group,ANZSOC Subdivision,Area Unit,Location Type,Locn Type Division,Meshblock,Occurrence Day Of Week,Occurrence Hour Of Day,Table 1,Territorial Authority,Weapon,Year Month (copy 2),Number of Records,Victimisations
0,"Abduction, Harassment and Other Related Offenc...",2017/2/1,2017/2/1,Abduction and Kidnapping,Abduction and Kidnapping,Avon Loop.,.,Community Location,2657500,Friday,18.0,1 Victimisation Time and Place,Christchurch City.,Not Applicable,2ÔÂ-17,1,1
1,"Abduction, Harassment and Other Related Offenc...",2017/2/1,2017/2/1,Abduction and Kidnapping,Abduction and Kidnapping,Maungatapu.,.,Community Location,1179301,Monday,16.0,1 Victimisation Time and Place,Tauranga City.,Not Applicable,2ÔÂ-17,1,1
2,"Abduction, Harassment and Other Related Offenc...",2017/2/1,2017/2/1,Abduction and Kidnapping,Abduction and Kidnapping,Green Island.,.,Community Location,2959702,Sunday,17.0,1 Victimisation Time and Place,Dunedin City.,Not Applicable,2ÔÂ-17,1,1
3,"Abduction, Harassment and Other Related Offenc...",2017/2/1,2017/2/1,Abduction and Kidnapping,Abduction and Kidnapping,Glen Innes North.,.,Community Location,466101,Tuesday,8.0,1 Victimisation Time and Place,Auckland.,Not Applicable,2ÔÂ-17,1,1
4,"Abduction, Harassment and Other Related Offenc...",2017/2/1,2017/2/1,Abduction and Kidnapping,Abduction and Kidnapping,Tahunanui.,.,Community Location,2333800,Tuesday,10.0,1 Victimisation Time and Place,Nelson City.,Not Applicable,2ÔÂ-17,1,1